header {
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  padding: 38px 48px;
  align-items: center;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;

  img {
    width: 100%;
  }
}

header nav {
  display: none;
}
